import subprocess
import sys

packages = [
    "numpy",
    "pandas",
    "librosa",
    "scikit-learn",
    "tensorflow",
    "matplotlib",
    "joblib"
]

for pkg in packages:
    subprocess.check_call([sys.executable, "-m", "pip", "install", pkg])

print("\nAll packages installed successfully!")
import subprocess
import sys

packages = [
    "numpy",
    "pandas",
    "librosa",
    "scikit-learn",
    "tensorflow",
    "matplotlib",
    "joblib"
]

for pkg in packages:
    subprocess.check_call([sys.executable, "-m", "pip", "install", pkg])

print("\nAll packages installed successfully!")